{% extends 'base.html' %}
{%block title%}Revistas Database{% endblock %}

{% block body %}

<!-- Hero Section -->
 <section class="text-white text-center d-flex align-items-center justify-content-center" style="background: url('/static/images/fondo.jpg') no-repeat center center; background-size: cover; height: 400px;">
    <div class="fondo_glass position-relative">
        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Logo" class="mascota">
        <h1 class="display-4 fw-bold" style="margin-top: 90px;">Atlas Científico</h1>
        <p class="lead">Explora un mundo de artículos científicos.</p>
           <form method="GET" action="{{ url_for('busqueda') }}" class="mb-5 text-center">
        <input type="text" name="q" placeholder="Ej: biología neuro química" class="form-control w-50 d-inline-block me-2" required>
        <button type="submit" class="btn color_btn">Buscar</button>
    </form>
        </a>
    </div>
</section>

<section class="container py-5">
    <h2 class="text-center mb-4">Te podrían interesar</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">Nature</h5>
                    <p class="card-text">
                        <strong>Área:</strong> Multidisciplinaria<br>
                        <strong>Cuartil:</strong> Q1<br>
                        <strong>SJR:</strong> 14.72
                    </p>
                    <a href="https://www.nature.com/" class="btn btn_ver" target="_blank">Ver revista</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">The Lancet</h5>
                    <p class="card-text">
                        <strong>Área:</strong> Medicina<br>
                        <strong>Cuartil:</strong> Q1<br>
                        <strong>SJR:</strong> 11.54
                    </p>
                    <a href="https://www.thelancet.com/" class="btn btn_ver" target="_blank">Ver revista</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">IEEE Transactions on Pattern Analysis</h5>
                    <p class="card-text">
                        <strong>Área:</strong> Ciencias de la Computación<br>
                        <strong>Cuartil:</strong> Q1<br>
                        <strong>SJR:</strong> 7.18
                    </p>
                    <a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=34" class="btn btn_ver" target="_blank">Ver revista</a>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="bg-light text-center py-5">
    <div class="container">
        <h2>¿Qué es AtlasCientífico?</h2>
        <p class="lead">Nuestra plataforma permite explorar y acceder a publicaciones científicas de diversas áreas del conocimiento, promoviendo la divulgación académica y la colaboración investigativa.</p>
    </div>
</section>

<section class="text-white py-5" style="background-color: rgb(4, 0, 255);">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h2>+60,000</h2>
                <p>Artículos disponibles</p>
            </div>
            <div class="col">
                <h2>+1,200</h2>
                <p>Editoriales </p>
            </div>
            <div class="col">
                <h2>+8</h2>
                <p>Áreas de investigación</p>
            </div>
        </div>
    </div>
</section>



{% endblock %}

