{% extends 'base.html' %}
{%block title%}AtlasCientífico{% endblock %}

{% block body %}

<!-- Hero Section -->
 <section class="text-white text-center d-flex align-items-center justify-content-center" style="background: url('/static/images/fondo.jpg') no-repeat center center; background-size: cover; height: 400px;">
    <div class="fondo_glass position-relative">
        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Logo" class="mascota">
        <h1 class="display-4 fw-bold" style="margin-top: 90px;">Atlas Científico</h1>
        <p class="lead">Explora un mundo de artículos científicos.</p>
           <form method="GET" action="{{ url_for('busqueda') }}" class="mb-5 text-center">
        <input type="text" name="q" placeholder="Ej: biología neuro química" class="form-control w-50 d-inline-block me-2" required>
        <button type="submit" class="btn color_btn">Buscar</button>
    </form>
        </a>
    </div>
</section>

<section class="container py-5">
    <h2 class="text-center mb-4">Te podrían interesar</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for revista in revistas_interes %}
        <div class="col">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ revista.nombre }}</h5>
                    <p class="card-text">
                        <strong>Áreas:</strong> {{ revista.areas }}<br>
                        <strong>Catálogos:</strong> {{ revista.catalogos }}<br>
                        <strong>H-Index:</strong> {{ revista.h_index }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>




<section class="bg-light text-center py-5">
    <div class="container">
        <h2>¿Qué es AtlasCientífico?</h2>
        <p class="lead">Nuestra plataforma permite explorar y acceder a publicaciones científicas de diversas áreas del conocimiento, promoviendo la divulgación académica y la colaboración investigativa.</p>
    </div>
</section>

<section class="text-white py-5" style="background-color: rgb(4, 0, 255);">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h2>+40,000</h2>
                <p>Artículos disponibles</p>
            </div>
            <div class="col">
                <h2>+1,200</h2>
                <p>Editoriales </p>
            </div>
            <div class="col">
                <h2>+8</h2>
                <p>Áreas de investigación</p>
            </div>
        </div>
    </div>
</section>



{% endblock %}

